.game-page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(350px, 1000px, 90%);
  height: clamp(350px, 550px, 75%);
}
.game-logo {
  position: fixed;
  top: 11%;
  left: 3.5%;
}
.score-container {
  position: fixed;
  top: 0%;
  right: 0%;
  box-shadow:
    0px 0px 5px 3px yellow,
    4px 4px 6px 2px hsl(0, 0%, 0%, 0.8);
  background-color: hsla(0, 0%, 100%, 0.25);
  backdrop-filter: blur(25px);
  width: 330px;
  padding: 20px;
  color: yellow;
  border-radius: 10px;
  text-shadow: 1px 1px 1px black;
  display: flex;
}
.score-header {
}
.high-score-header {
}
.score-image {
  position: fixed;
  top: 10%;
  right: 10%;
  width: 90px;
  height: auto;
}
.card-container {
  position: fixed;
  width: 100%;
  height: 80%;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.card {
  color: hsl(0, 0%, 0%, 0.9);
  border-radius: 8px;
  width: 100%;
  box-shadow: 4px 4px 6px 2px hsl(0, 0%, 0%, 0.8);
  background-color: hsla(0, 0%, 100%, 0.25);
  backdrop-filter: blur(25px);
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: end;
  transition: all 0.2s ease;
  animation: shake 1s linear infinite;
}
.card:hover {
  box-shadow: 0px 0px 7px 10px #fe3310;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-name {
  margin-top: 17px;
  margin-bottom: -17px;
  font-size: 1.2rem;
  font-weight: 1000;
}
.offset-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  translate: 28%;
  width: fit-content;
  height: fit-content;
  background: none;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 4px 4px 6px 2px hsl(0, 0%, 0%, 0.8);
  background-color: hsla(0, 0%, 100%, 0.2);
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
}
.offset-container label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 10px;
}
#offset-input {
  background-color: yellow;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  outline: none;
  border-radius: 10px;
}
.offset-affirm-button {
  font-weight: 700;
  font-size: 1.2rem;
  background-color: #ffd924;
  cursor: pointer;
  border-radius: 10px;
  width: 50px;
  height: 40px;
  padding: 4px;
}

@keyframes shake {
  from {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-1deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(1deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
