.game-tip-button {
  font-size: 1.2rem;
  position: absolute;
  background-color: #ffd924;
  box-shadow:
    1px 1px 1px 2px black,
    1px 1px 6px 6px #fe3310;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  left: 50%;
  bottom: 5%;
  translate: -125%;
  transition: box-shadow 0.3s ease;
}
.game-tip-button:hover {
  box-shadow:
    1px 1px 1px 2px black,
    1px 1px 10px 10px #fe3310;
}
.tip-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  bottom: 5%;
  translate: -120%;
  background: none;
  border-radius: 10px;
  padding: 5px 15px;
  box-shadow: 4px 4px 6px 2px hsl(0, 0%, 0%, 0.8);
  background-color: hsla(0, 0%, 100%, 0.2);
  backdrop-filter: blur(25px);
  display: flex;
}
.tip-message {
  color: black;
  font-size: 1.2rem;
  font-weight: 1000;
  letter-spacing: 1px;
}
.tip-image {
  width: 80px;
  height: auto;
  margin: 0 -10px 0 8px;
}
