@import url(variables.css);

.game-page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(350px, 1000px, 90%);
  height: clamp(350px, 550px, 75%);
}
.game-logo {
  position: fixed;
  top: 11%;
  left: 3.5%;
}
.game-logo {
  translate: -10% -50%;
  text-align: center;
  font-family: PokemonFontSolid, sans-serif;
  color: var(--clr-primary);
  letter-spacing: 8px;
}
.game-logo-header {
  font-size: 5rem;
  text-shadow:
    5px 5px 0px var(--clr-dark-shadow),
    -5px -3px 3px var(--clr-secondary);
}
.game-logo-text {
  margin: -30px 0 25px 0;
  font-size: 2rem;
  text-shadow:
    5px 5px 0px var(--clr-dark-shadow),
    -5px -3px 3px var(--clr-secondary);
}
.score-container {
  position: fixed;
  top: 0%;
  right: 0%;
  box-shadow: 0px 0px 10px 7px var(--clr-primary);
  background-color: var(--clr-blur-background);
  backdrop-filter: blur(25px);
  width: 330px;
  padding: 20px;
  color: var(--clr-primary);
  border-radius: 10px;
  text-shadow: 1px 1px 1px var(--clr-dark-shadow);
  display: flex;
}
.score-header {
}
.high-score-header {
}
.score-image {
  position: fixed;
  top: 10%;
  right: 10%;
  width: 90px;
  height: auto;
}
.card-container {
  position: fixed;
  width: 100%;
  height: 80%;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.card {
  color: var(--clr-text);
  border-radius: 8px;
  width: 100%;
  box-shadow: 4px 4px 6px 2px var(--clr-dark-shadow);
  background-color: var(--clr-blur-background);
  backdrop-filter: blur(25px);
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: end;
  transition: all 0.2s ease;
  animation: shake 1s linear infinite;
}
.card:hover {
  box-shadow: 0px 0px 7px 10px var(--clr-secondary);
}
.card-image {
  width: 100%;
  height: auto;
}
.card-name {
  margin-top: 17px;
  margin-bottom: -17px;
  font-size: 1.2rem;
  font-weight: 1000;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}
.offset-container {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  min-width: 510px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background: none;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 4px 4px 6px 2px var(--clr-dark-shadow);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 3;
}
.offset-input-container {
  display: flex;
  flex-direction: row;
}
.offset-container label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 10px;
}
#offset-input {
  font-size: 1.5rem;
  width: 80px;
  font-weight: 700;
  text-align: center;
  margin: 0 5px 8px 0;
  outline: var(--clr-primary);
  border: none;
  border-radius: 10px;
  box-shadow: inset 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(var(--clr-secondary), var(--clr-primary));
  /* background-color: var(--clr-primary); */
}
.offset-affirm-button {
  font-weight: 700;
  font-size: 1.35rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  width: 50px;
  height: 40px;
  padding: 4px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(var(--clr-secondary), var(--clr-primary));
  /* background-color: var(--clr-primary); */
}
.loading-pokemons-text {
  font-size: 4rem;
  font-weight: 700;
  color: var(--clr-primary);
  text-shadow: 3px 3px 1px black;
}
.dropdown-menu {
  width: 100%;
}
.pokemon-list {
  height: 200px;
  overflow: auto;
  border-radius: 10px;
  padding: 10px 0px 0 50px;
  font-size: 1.25rem;
  margin: 0px 0 -5px 0;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: inset 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.pokemon-list::-webkit-scrollbar {
  width: 1.2vh;
}
.pokemon-list::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--clr-secondary), var(--clr-primary));
  border-radius: 100vw;
  height: 4vh;
  cursor: pointer;
}
.pokemon-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.03);
  margin-block: 0.5em;
  border-radius: 100vw;
  box-shadow: inset 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

#offset-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

@keyframes shake {
  from {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-1deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(1deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@media (hover: none) {
  .card:hover {
    box-shadow: 4px 4px 6px 2px var(--clr-dark-shadow);
  }
}

@media (max-width: 1060px) {
  .game-page-container {
    width: clamp(350px, 800px, 90%);
  }
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .game-logo-header {
    font-size: 4rem;
  }
  .game-logo-text {
    font-size: 1.5rem;
    margin-top: -22px;
  }
  .score-container {
    width: 250px;
  }
  .score-image {
    top: 15%;
    right: 5%;
    width: 70px;
  }
  .card-name {
    font-size: 0.9rem;
    margin: 10px 0 -8px 0;
  }
  .loading-pokemons-text {
    font-size: 3.8rem;
  }
}

@media (max-width: 860px) {
  .game-page-container {
    width: clamp(350px, 500px, 90%);
    height: clamp(350px, 600px, 75%);
  }
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .game-logo-header {
    font-size: 3rem;
  }
  .game-logo-text {
    font-size: 1.2rem;
    margin-top: -18px;
  }
  .score-container {
    top: 3%;
    width: 190px;
    padding: 10px;
    font-size: 0.8rem;
  }
  .score-image {
    top: 15%;
    right: 5%;
    width: 50px;
  }
  .card-name {
    font-size: 0.8rem;
    margin: 10px 0 -8px 0;
  }
  .offset-container {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
  }
  .offset-input-container {
    flex-direction: column;
    align-items: center;
  }
  .loading-pokemons-text {
    font-size: 3.4rem;
  }
}
@media (max-width: 500px) {
  header {
    display: none;
  }
  .game-page-container {
    top: 45%;
    height: clamp(40%, 600px, 90%);
  }
  .card-container {
    gap: 5px;
  }
  .card {
    align-self: start;
    height: 128px;
  }
  .game-logo {
    top: 7.5%;
    left: 50%;
    translate: -50% -50%;
  }
  .game-logo-header {
    font-size: 2.1rem;
  }
  .game-logo-text {
    font-size: 0.8rem;
    margin-top: -10px;
  }
  .score-container {
    top: 13.5%;
    width: 65%;
    padding: 0px 8px;
    font-size: 0.7rem;
  }
  .score-text {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .score-image {
    top: -110%;
    left: -48%;
    width: 60px;
  }
  .card-name {
    font-size: 0.8rem;
    margin: 3px 0 -12px 0;
  }
  .offset-container {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }
  .offset-container label {
    font-size: 1.4rem;
  }
  .dropdown-menu h2 {
    font-size: 1.3rem;
    margin-top: -10px;
  }
  .pokemon-list {
    font-size: 1.15rem;
  }
  .loading-pokemons-text {
    font-size: 3rem;
  }
}
