@import url(variables.css);

.game-over-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: clamp(350px, 500px, 95%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-blur-background);
  backdrop-filter: blur(25px);
  box-shadow: 0px 0px 20px 15px var(--clr-dark-shadow);
  border-radius: 20px;
  animation: pulse 2s linear infinite;
}
.game-over-heading {
  color: var(--clr-primary);
  text-shadow: 5px 5px 2px var(--clr-dark-shadow);
  margin-bottom: 15px;
  font-family: PokemonFontSolid, sans-serif;
  font-size: 3.2rem;
  letter-spacing: 10px;
}
.game-over-image {
  width: 250px;
  height: auto;
}
.game-over-text {
  margin: 20px 0;
  color: var(--clr-text);
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  font-size: 2rem;
}
.replay-button {
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--clr-primary);
  box-shadow:
    1px 1px 1px 2px var(--clr-dark-shadow),
    1px 1px 6px 6px var(--clr-secondary);
  cursor: pointer;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  transition: box-shadow 0.3s ease;
}
.replay-button:hover {
  box-shadow:
    1px 1px 1px 2px var(--clr-dark-shadow),
    1px 1px 10px 10px var(--clr-secondary);
}

@keyframes pulse {
  from {
    box-shadow: 0px 0px 15px 10px var(--clr-secondary);
  }
  50% {
    box-shadow: 0px 0px 30px 25px var(--clr-secondary);
  }
  to {
    box-shadow: 0px 0px 15px 10px var(--clr-secondary);
  }
}
