.welcome-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slide-in 0.5s linear;
}
.game-logo {
  text-align: center;
  font-family: PokemonFontSolid, sans-serif;
  color: #ffd924;
  letter-spacing: 8px;
}
.game-logo-header {
  font-size: 6rem;
  text-shadow:
    5px 5px 0px black,
    -5px -3px 3px #fe3310;
}
.game-logo-text {
  margin: -35px 0 25px 0;
  font-size: 3rem;
  text-shadow:
    5px 5px 0px black,
    -5px -3px 3px #fe3310;
}
.start-game-button {
  text-align: center;
  font-family: PokemonFontSolid, sans-serif;
  color: #ffd924;
  letter-spacing: 5px;
  font-size: 2.5rem;
  background: none;
  border: transparent;
  border-radius: 10px;
  padding: 0px 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px;
  text-shadow:
    5px 5px 0px black,
    -5px -3px 3px #fe3310;
  transition: box-shadow 0.3s ease;
}
.start-game-button:hover {
  box-shadow: 0px 0px 10px 10px;
}

@keyframes slide-in {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
